@model DCC.Models.ObjectivesModal

<style>
    .forAssistant {
        background-color: #ffffe0;
    }
</style>

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>@Model.serviceObjective.svcName Objective</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body modal-body-full">
                <input type="hidden" id="clientserviceId" value="@Model.serviceObjective.clsvidId" />
                <input type="hidden" id="serviceId" value="@Model.serviceObjective.serviceId" />
                <input type="hidden" id="isTherapy" value="@(Model.serviceObjective.isTherapy ? "true": "false")"/>

                <div class="row" id="objectiveWrapper">
                    @foreach (var o in Model.serviceObjective.longTermObjectives)
                    {
                        <div class="col-sm-12 objectiveItem" id="objectiveId@(o.objectiveId)">
                            <input type="hidden" class="objectiveId" value="@o.objectiveId" />
                            <div style="margin-bottom:20px; border:3px solid #c0c0c0; padding:5px">
                                <div style="margin-bottom:20px">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div><b>Long Term Goal Area:</b></div>
                                            <select class="oGA">
                                                @foreach (var gA in Model.goalAreas)
                                                {
                                                    <option value="@gA.value" @(gA.value == o.goalAreaId.ToString() ? "selected" : "")>@gA.name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <div><b>Long Term Status:</b></div>
                                            <select class="oLTstatus"  onchange="longTermStatusChanged($(this))">
                                                @foreach (var st in Model.statuses)
                                                {
                                                    <option value="@st.value" @(st.value == o.objectiveStatus ? "selected" : "")>@st.name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="oLTcompletionDate"><b>Completion Date:</b></label>
                                                <div class="input-group date">
                                                    <input value="@o.completedDt" type="date" class="oLTcompletionDate form-control form-control-sm" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div><b>Long Term Vision:</b></div>
                                            <textarea class="oLTV" style="width:100%">@o.longTermVision</textarea>
                                        </div>
                                        <div class="col-sm-6">
                                            <div><b>Long Term Goal:</b></div>
                                            <textarea class="oLTG" style="width:100%">@o.longTermGoal</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="shortTermGoals">
                                    @foreach (var s in o.shortTermGoals)
                                    {
                                        <div class="shortTermGoalItem" style="margin-left:20px;margin-bottom:20px;border:3px solid #c0c0c0; padding:5px;background-color:aliceblue">
                                            <input type="hidden" class="goalId" value="@s.goalId">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <b>Action Step/Short Term Goal <span class="aStep"></span></b>
                                                    <textarea class="oAS" style="width:100%">@s.shortTermGoal</textarea>
                                                </div>
                                                <div class="col-sm-6">
                                                    <b>Activities/ Strategies</b>
                                                    <textarea class="oTM" style="width:100%">@s.teachingMethod</textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <b>Frequency</b>:<br />
                                                    <select class="oASFreq" )>
                                                        @foreach (var freq in Model.frequencies)
                                                        {
                                                            <option value="@freq.value" @(freq.value == s.frequencyId ? "selected" : "")>@freq.name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <b>Status:</b><br />
                                                    <select class="oASStatus" onchange="shortTermStatusChanged($(this))">
                                                        @foreach (var st in Model.statuses)
                                                        {
                                                            <option value="@st.value" @(st.value == s.goalStatus ? "selected" : "")>@st.name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="oAScompletionDate"><b>Completion Date:</b></label>
                                                        <div class="input-group date">
                                                            <input value="@s.completedDt" type="date" class="oASTcompletionDate form-control form-control-sm" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-primary actionStepBtn" onclick="openActionStepModal(@o.objectiveId);">Add Action Step</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-sm btn-primary" onclick="openLongTermVisionModal();">New Long Term Vision</button>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateClientObjectives(false);">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="addLongTermVisionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: orange;">
                <h5><i class="fa fa-edit"></i>Add Functional Outcome</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div><b>Long Term Goal Area:</b></div>
                <select class="oGA">
                    @foreach (var gA in Model.goalAreas)
                    {
                        <option value="@gA.value">@gA.name</option>
                    }
                </select>
                <div><b>Long Term Vision:</b></div>
                <textarea class="oLTV" style="width:100%"></textarea>
                <div><b>Long Term Goal:</b></div>
                <textarea class="oLTG" style="width:100%"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" onclick="addLongTermVision();">Add Long Term Vision</button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="addActionStepModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: orange;">
                <h5><i class="fa fa-edit"></i> Add Action Step</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="objectiveType" />
                <input type="hidden" class="objectiveId" />
                <b>Action Step/Short Term Goal <span class="aStep"></span></b>
                <textarea class="oAS" style="width:100%"></textarea>
                <b>Activities/ Strategies</b>
                <textarea class="oTM" style="width:100%"></textarea>
                <div class="row">
                    <div class="col-sm-6">
                        <b>Frequency</b>:<br />
                        <select class="oASFreq">
                            @foreach (var freq in Model.frequencies)
                            {
                                <option value="@freq.value" )>@freq.name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" onclick="addActionStep();">Add step</button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End Modals-->
<!--templates-->
<div class="col-sm-12 objectiveItem template" ">
    <div style="margin-bottom:20px; border:3px solid #c0c0c0; padding:5px">
        <div style="margin-bottom:20px">
            <input type="hidden" class="objectiveId" />
            <div class="row">
                <div class="col-sm-4">
                    <div><b>Long Term Goal Area:</b></div>
                    <select class="oGA" )>
                        @foreach (var gA in Model.goalAreas)
                        {
                            <option value="@gA.value">@gA.name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-4">
                    <div><b>Long Term Status:</b></div>
                    <select class="oLTstatus"  onchange="longTermStatusChanged($(this)">
                        @foreach (var st in Model.statuses)
                        {
                            <option value="@st.value">@st.name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="oLTcompletionDate"><b>Completion Date:</b></label>
                        <div class="input-group date">
                            <input type="date" class="oLTcompletionDate form-control form-control-sm" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div><b>Long Term Vision:</b></div>
                    <textarea class="oLTV" style="width:100%" />
                </div>
                <div class="col-sm-6">
                    <div><b>Long Term Goal:</b></div>
                    <textarea class="oLTG" style="width:100%" />
                </div>
            </div>
        </div>
        <div class="shortTermGoals">
        </div>
        <div>
            <button type="button" class="btn btn-sm btn-primary actionStepBtn">Add Action Step</button>
        </div>
    </div>
</div>

<div class="shortTermGoalItem template" style="margin-left:20px;margin-bottom:20px;border:3px solid #c0c0c0; padding:5px;background-color:aliceblue">
    <input type="hidden" class="goalId">
    <div class="row">
        <div class="col-sm-6">
            <b>Action Step/Short Term Goal <span class="aStep"></span></b>
            <textarea class="oAS" style="width:100%"></textarea>
        </div>
        <div class="col-sm-6">
            <b>Activities/ Strategies</b>
            <textarea class="oTM" style="width:100%"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <b>Frequency</b>:<br />
            <select class="oASFreq">
                @foreach (var freq in Model.frequencies)
                {
                    <option value="@freq.value" )>@freq.name</option>
                }
            </select>
        </div>
        <div class="col-sm-4">
            <b>Status:</b><br />
            <select class="oASStatus" onchange="shortTermStatusChanged($(this)">
                @foreach (var st in Model.statuses)
                {
                    <option value="@st.value" )>@st.name</option>
                }
            </select>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="oAScompletionDate"><b>Completion Date:</b></label>
                <div class="input-group date">
                    <input type="date" class="oASTcompletionDate form-control form-control-sm" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End templates-->
<script>
    $('#actionModal').modal('show');
    function openLongTermVisionModal() {
        var m = $('#addLongTermVisionModal');
        m.find('.oLTV').val('');
        m.find('.oLTG').val('');
        m.modal('show');

    }
    function addLongTermVision() {
        var m = $('#addLongTermVisionModal');
        var o = {};
        o.goalAreaId = m.find('.oGA').val();
        o.longTermVision = m.find('.oLTV').val();
        o.longTermGoal = m.find('.oLTG').val();
        longTermObjectives = [];
        longTermObjectives.push(o);
        var Data = {
            'isTherapy': $('#isTherapy').val(),
            'serviceId': $('#serviceId').val(),
            'clientId': $('#TCLSVID').val(),
            'longTermObjectives': longTermObjectives
        };
        m.modal('hide');
        waitOn();
        $.ajax({
            type: 'POST',
            url: srvcUrl + '/Home/AddLongTermVision2',
            headers: headers,
            data: JSON.stringify(Data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (r) {
                waitOff();
                if (r.er.code !== 0) {
                    Alert(r.er.code);
                }
                else {
                    l = r.longTermObjectives[0];
                    var nDiv = $('.objectiveItem.template').clone();
                    nDiv.prop('id', 'objectiveId' + l.objectiveId);
                    nDiv.find('.objectiveId').val(l.objectiveId); // new
                    nDiv.find('.oGA').val(l.goalAreaId);
                    nDiv.find('.oLTV').val(l.longTermVision);
                    nDiv.find('.oLTG').val(l.longTermGoal);
                    nDiv.find('.oLTstatus').val(l.objectiveStatus);

                    nDiv.find('.actionStepBtn').on('click', { oid: l.objectiveId }, function (event) { openActionStepModal(event.data.oid); });

                    $('#objectiveWrapper').append(nDiv);
                    nDiv.removeClass('template');
                }
            },

            error: ajaxError,
            timeout: 10000
        });
    }

    function openActionStepModal(oId) {
        var m = $('#addActionStepModal');
        m.find('.objectiveId').val(oId);
        m.find('.oAS').val('');
        m.find('.oTM').val('');
        m.modal('show');
    }
    function addActionStep() {
        var m = $('#addActionStepModal');
        var o = {};
        o.objectiveId = m.find('.objectiveId').val();
        o.shortTermGoals = [];

        p = {};
        p.shortTermGoal = m.find('.oAS').val();
        p.teachingMethod = m.find('.oTM').val();
        p.frequencyId = m.find('.oASFreq').val();

        o.shortTermGoals.push(p);
        longTermObjectives = [];
        longTermObjectives.push(o);

        var Data = {
            'isTherapy': $('#isTherapy').val(),
            'serviceId': $('#serviceId').val(),
            'clientId': $('#TCLSVID').val(),
            'longTermObjectives': longTermObjectives
        };
        m.modal('hide');
        waitOn();
        $.ajax({
            type: 'POST',
            url: srvcUrl + '/Home/AddActionStep2',
            headers: headers,
            data: JSON.stringify(Data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: addActionStepSuccess,
            error: ajaxError,
            timeout: 10000
        });
    }
    function addActionStepSuccess(r) {
        waitOff();
        if (r.er.code !== 0) {
            Alert(r.er.code);
        }
        else {
            var tgt = $('#actionModal').find('#objectiveId' + r.longTermObjectives[0].objectiveId).find('.shortTermGoals');
            var nDiv = $('.shortTermGoalItem.template').clone();
            var g = r.longTermObjectives[0].shortTermGoals[0];
            nDiv.find('.goalId').val(g.goalId);
            nDiv.find('.aStep').text(g.step);
            nDiv.find('.oAS').val(g.shortTermGoal);
            nDiv.find('.oTM').val(g.teachingMethod);
            nDiv.find('.oASFreq').val(g.frequencyId);
            nDiv.find('.oASStatus').val(g.goalStatus);
            nDiv.removeClass('template');
            tgt.append(nDiv);
        }
    }

    function updateClientObjectives() {
        var tgt = $('#actionModal');
        var longTermObjectives = [];
        var isOK = true;
        tgt.find('.objectiveItem').each(function () {
            var objectiveId = $(this).find('.objectiveId').val();
            if (objectiveId !== '') {
                var o = {};
                o.objectiveId = objectiveId;
                o.goalAreaId = $(this).find('.oGA').val();
                o.longTermVision = $(this).find('.oLTV').val();
                o.longTermGoal = $(this).find('.oLTG').val();
                o.objectiveStatus = $(this).find('.oLTstatus').val();
                o.completedDt = $(this).find('.oLTcompletionDate').val();
                if ((o.objectiveStatus === 'Completed' || o.objectiveStatus === 'Removed') && o.completedDt === '') {
                    Alert(o.objectiveStatus + ' Long term objectives must be dated');
                    isOK = false;
                    return false;
                }

                o.shortTermGoals = [];
                $(this).find('.shortTermGoalItem').each(function () {
                    var g = {};
                    g.goalId = $(this).find('.goalId').val();
                    g.shortTermGoal = $(this).find('.oAS').val();
                    g.teachingMethod = $(this).find('.oTM').val();
                    g.goalStatus = $(this).find('.oASStatus').val();
                    g.completedDt = $(this).find('.oASTcompletionDate').val();
                    if (g.goalStatus === 'Active' && (o.objectiveStatus === 'Completed' || o.objectiveStatus === 'Removed')) {
                        $(this).find('.oASStatus').val(o.objectiveStatus);
                        $(this).find('.oASCompleted').val(o.completedDt);
                        g.goalStatus = o.objectiveStatus;
                        g.completedDt = o.completedDt;
                    }
                    if ((g.goalStatus === 'Completed' || g.goalStatus === 'Removed') && g.completedDt === '') {
                        Alert(g.goalStatus + ' Short term goals must be dated');
                        isOK = false;
                        return false;
                    }
                    g.frequencyId = $(this).find('.oASFreq').val();
                    o.shortTermGoals.push(g);
                });
                longTermObjectives.push(o);
            }
        });
        if (isOK) {
            var Data = {
                'clientId': $('#TCLSVID').val(),
                'isTherapy': $('#isTherapy').val(),
                'longTermObjectives': longTermObjectives
            };

            tgt.modal('hide');
            waitOn();

            $.ajax({
                type: 'POST',
                url: srvcUrl + '/Home/SaveObjectives2',
                headers: headers,
                data: JSON.stringify(Data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                success: function (r) {
                    waitOff();
                    $('#objectives').html(r);
                },
                error: ajaxError,
                timeout: 100000
            });
        }
    }
    function longTermStatusChanged(e) {
        var row = e.closest('.row');
        if (e.val() !== 'Completed') {
            row.find('.oLTcompletionDate').val('');
        }
    }
    function shortTermStatusChanged(e) {
        var row = e.closest('.row');
        if (e.val() !== 'Completed') {
            row.find('.oASTcompletionDate').val('');
        }
    }

</script>
