@model DCC.Models.Home.PendingDocumentation
<div id="actionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5><i class="fa fa-trash"></i> Delete Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div>Client: @Model.clientName</div>
                <div>Document: @Model.noteType</div>
                <div>Service: @Model.svc</div>
                <div>Date: @Model.dueDt</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteDocument('@Model.docType', @Model.docId);">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
$('#actionModal').modal('show');
</script>
