@model DCC.Models.Home.HomeStaffPage


<div class="hdr"><i class="fa fa-plus-square faBtn" onclick="openAddCredentialModal(0);"></i> Add Credential</div>
<div class="staffCredentials">
    @foreach (var item in Model.credentials)
    {
        <table id="cred">
            <tr>
                <td id="@("credName" + item.credId)" style="width:180px">
                    @item.credName
                </td>
                <td id="@("docId" + item.credId)" style="width:120px">
                    @item.docId
                </td>

                <td class="dates">
                    <span id="@("validFrom" + item.credId)">@item.validFrom</span> to <span id="@("validTo" + item.credId)">@item.validTo</span>
                </td>
            </tr>
            <tr>
                <td class="large-text" style="color:@item.statusColor">
                    @item.status
                </td>
                <td>
                    @if (item.btnView)
                    {
                        <a class="btnView" target="_Chart" href="/Staff/GetCredential?id=@item.credId"><i class="fa fa-search faBtn"></i></a>
                    }
                    @if (item.btnEdit)
                    {
                        if (item.credId == 0)
                        {
                            <i class="fa fa-edit faBtn" onclick="openAddCredentialModal(@item.credTypeId)"></i>
                        }
                        else
                        {
                            <i class="fa fa-edit faBtn" onclick="openEditCredentialModal(@item.credId)"></i>
                        }
                    }
                    @if (item.btnVerify)
                    {
                        <i class="fa fa-check faBtn green" onclick="openCredentialVerifyModal(@item.credId)"></i>

                    }
                    @if (item.btnMail)
                    {
                        <i class="fa fa-comment-o faBtn" onclick="openSendMessageModal(@item.credId)"></i>
                    }
                    @if (item.btnEdit && item.credId != 0)
                    {
                        <i class="fa fa-trash faBtn red" onclick="openCredentialDeleteModal(@item.credId)"></i>

                    }
                </td>
                <td class="verifier">
                    @item.verifiedBy
                </td>
            </tr>
        </table>
        <div style="background-color:#c0c0c0;height:1px"></div>
    }
</div>

