@model DCC.Models.CredentialSettings.RequiredCredentials

    <table class="regTable" style="display:block">
        <thead>
            <tr class="roleRow">
                <th><input type="hidden" id="rolesCount" value="@Model.roles.Count" /></th>
                <th rowspan="2">Role/<br />Emp</th>
                @for (var i=0; i < Model.roles.Count; i++)
                {
                    <th colspan="2">@Model.roles[i].roleName <input type="hidden" id="@("roleId" + i)" value="@Model.roles[i].roleId" /></th>
                }

            </tr>
            <tr class="reqRow">
                <th></th>
                @foreach (var item in Model.roles)
                {
                    <th>Req</th>
                    <th>Blk</th>

                }
            </tr>
       
        </thead>
        <tbody>
            @for (var i = 0; i < Model.credentialTypes.Count; i++)
            {
                var disabled = "";
                var backgroundClass = "";
                if (!Model.credentialTypes[i].roleSpecific)
                {
                    disabled = "disabled";
                    backgroundClass = "empCredential";
                }
                <tr>
                    <td style="text-align:left" class="@backgroundClass"> @Model.credentialTypes[i].credName <input class="credId" type="hidden" value="@Model.credentialTypes[i].credTypeId" /></td>
                    @if (Model.credentialTypes[i].roleSpecific)
                    {
                        <td>Role</td>
                    }
                    else
                    {
                        <td class="@backgroundClass">Emp</td>
                    }

                    @for (var j = 0; j < Model.roles.Count; j++)
                    {
                        if(i== 14 &&  j == 6)
                        {

                        }


                        var RCkd = Model.roles[j].credentialSettings[i].required ? "checked" : "";
                        var BCkd = Model.roles[j].credentialSettings[i].blocking ? "checked" : "";
                        <td class="@backgroundClass" style="text-align:center"><input id="@("R" + Model.credentialTypes[i].credTypeId + Model.roles[j].roleId)" type="checkbox" @disabled @RCkd /></td>
                        <td class="@backgroundClass" style="text-align:center"><input id="@("B" + Model.credentialTypes[i].credTypeId + + Model.roles[j].roleId)" type="checkbox" @disabled @BCkd /></td>
                    }

                </tr>
            }

        </tbody>
        <tfoot>
        </tfoot>
    </table>
