@model DCC.Models.ScheduleInit
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5><i class="fa fa-file mr-2"></i> Schedule Details </h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <form class="parent" id="FormEditSchedule" onsubmit="" action="@Url.Action("UpdateSchedule", "Calendar")" method="post">

                    @Html.AntiForgeryToken()
                    <input type="hidden" class="d-none" name="ScheduleID" id="ScheduleID" value="@Model.schedule.id" />
                    <input type="hidden" class="d-none" name="IsFromHomePage" id="IsFromHomePage" value="YES" />
                    <div class="form-group ClientSelectGroup row">
                        <div class="col-12">
                            <label for="input-1">For whom do you want to add this Schedule?</label>
                            <select readonly class="form-control" onchange="GetServices(this);" name="ClientSelection" id="ClientSelection">
                                <option value="@Model.schedule.client_ID" selected>@Model.schedule.ClientFullName</option>

                            </select>
                        </div>

                    </div>
                    <div class="serviceContainer ">
                        <hr>
                        <div class=' ServiceSelectGroup mt-3 row'>
                            <div class=' col-12'>
                                <div class=''>
                                    <label for='ServiceSelect'>For which services you want to Schedule?</label>
                                    <select class='form-control inputBox clickable ' name='ServiceSelection' id='ServiceSelection' readonly>
                                        @{string IsSelected = "";
                                            <option value="@Model.schedule.service_id" @IsSelected>@Model.schedule.service_name</option>
                                            @*foreach (var service in Model.services)
                                                {
                                                    if (service.name == Model.schedule.service_name)
                                                    {
                                                        IsSelected = "selected";
                                                        <option value="@service.serviceId" @IsSelected>@service.name</option>
                                                    }
                                                    else
                                                    {
                                                        IsSelected = "";
                                                    }

                                                }*@
                                        }

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group RecurringOptionSelectGroup mt-3 row">
                            <div class="col-12">
                                <label for="RecurringOption">How often do you want to avail this services?</label>
                                <select class="form-control" onchange="GetDateBox(this);" name="RecurringOption" id="RecurringOption">
                                    @{string OneTime = "";
                                        string Daily = "";
                                        string Weekly = "";
                                        string Monthly = "";
                                        string Quarterly = "";
                                        if (Model.schedule.recurring_type == 1)
                                        {
                                            OneTime = "selected";
                                        }
                                        else if (Model.schedule.recurring_type == 2)
                                        {
                                            Daily = "selected";
                                        }
                                        else if (Model.schedule.recurring_type == 3)
                                        {
                                            Weekly = "selected";
                                        }
                                        else if (Model.schedule.recurring_type == 4)
                                        {
                                            Monthly = "selected";
                                        }
                                        else if (Model.schedule.recurring_type == 5)
                                        {
                                            Quarterly = "selected";
                                        }
                                    }
                                    <option value="">-- Choose Option --</option>
                                    <option value="1" @OneTime>One Time</option>
                                    <option value="2" @Daily>Daily</option>
                                    <option value="3" @Weekly>Weekly</option>
                                    <option value="4" @Monthly>Monthly</option>
                                    <option value="5" @Quarterly>Quarterly</option>
                                    @*<option value="5">Custom</option>*@
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="dateTimeContainer ">
                        <hr>
                        <div class="form-group startDateTime mt-3 row">
                            <div class="col-12">
                                <label class="scheduleTimeLabel" for="">Start Date and Time</label>
                                @*<label class="SelectDateTime d-none" for="">Select Date and Time</label>*@

                                <div class="row">
                                    <div class="col-6">
                                        @*<input required type="date" class="form-control" id="StartDateSelect" value="@Model.schedule.StartDate" name="StartDateSelect">*@
                                        <input required type="text" class="form-control jsDatePicker" id="StartDateSelect" name="StartDateSelect" value="@Model.schedule.StartDate">
                                    </div>
                                    <div class="col-6">
                                        @*<input required type="time" class="form-control" id="StartTimeSelect" value="@Model.schedule.StartTime" name="StartTimeSelect">*@
                                        <select class="form-control" name="StartTimeSelect" id="StartTimeSelect">
                                            <option value="">-- Select Time --</option>
                                            @{
                                                var array = Model.schedule.StartTime.Split(':');
                                            }
                                            @for (int i = 06; i <= 24; i++)
                                            {
                                                for (int j = 00; j <= 45; j += 15)
                                                {
                                                    int k = i;
                                                    if (i > 12)
                                                    {
                                                        k = i - 12;
                                                        if (k >= 10)
                                                        {
                                                            if (j > 0 || k > 10)
                                                            {
                                                                break;
                                                            }

                                                        }
                                                        string TimeS = k.ToString().PadLeft(2, '0') + ":" + j.ToString().PadLeft(2, '0') + " PM";
                                                        if (array[0] == i.ToString().PadLeft(2, '0') && array[1] == j.ToString().PadLeft(2, '0'))
                                                        {
                                                            <option value="@TimeS" selected>@TimeS</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@TimeS">@TimeS</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        string TimeS = k.ToString().PadLeft(2, '0') + ":" + j.ToString().PadLeft(2, '0');
                                                        if (i == 12)
                                                        {
                                                            TimeS += " PM";
                                                        }
                                                        else
                                                        {
                                                            TimeS += " AM";
                                                        }
                                                        if (array[0] == i.ToString().PadLeft(2, '0') && array[1] == j.ToString().PadLeft(2, '0'))
                                                        {
                                                            <option value="@TimeS" selected>@TimeS</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@TimeS">@TimeS</option>
                                                        }

                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        @*@{ string IsEndDate = "";
                                if (Model.schedule.recurring_type == 1)
                                {
                                    IsEndDate = "d-none";
                                }
                            }
                            <div class="form-group endDateTime mt-3 row @IsEndDate">
                                <div class="col-12">
                                    <label class="" for="">Please choose when you want to stop this schedule.</label>
                                    <div class="row">
                                        <div class="col-6"><input required type="date" class="form-control" id="EndDateSelect" value="@Model.schedule.EndDate" name="EndDateSelect"></div>
                                        <div class="col-6"><input required type="time" class="form-control" id="EndTimeSelect" value="@Model.schedule.EndTime" name="EndTimeSelect"></div>
                                    </div>

                                </div>
                            </div>*@
                        <div class="form-group mt-3 row">
                            <div class="col-12">
                                <label class="" for="comments">Additional Information for Service Provider (optional)</label>
                                <input type="text" class="form-control" value="@Model.schedule.AdditionalInfo" id="comments" name="comments" />
                            </div>

                        </div>


                        <div class="form-group mt-3 row">
                            @{
                                string DisplayNone = "d-none";
                                int isMissed = 0;

                            }
                            @if (Model.schedule.scheduled_at < DateTime.Now)
                            {
                                string isChecked = "";

                                if (Model.schedule.missedVisit.HasValue && Model.schedule.missedVisit.Value == true)
                                {
                                    isChecked = "checked";
                                    DisplayNone = "";
                                    isMissed = 1;
                                }
                                <div class="col-12">
                                    <input type="checkbox" class="mr-2" id="IsMissed" name="IsMissed" @isChecked onclick="MissedSchedule(this);"><label for="IsMissed">Mark It Missed</label>
                                </div>
                            }

                            <input type="hidden" class="d-none" id="IsMissedCount" name="IsMissedCount" value="@isMissed" />
                            <div class="col-6 mt-3 @DisplayNone">
                                <label>Select Reason</label>
                                <select id="SelecteMissingReason" name="SelecteMissingReason" class="form-control">
                                    @{
                                        foreach (DCC.Models.AZSandataVisitChangeReasonCode reason in Model.reasonCodes)
                                        {
                                            string IsSelectedReason = "";
                                            if (reason.ReasonCodeID == Model.schedule.reasonCodeId)
                                            {
                                                IsSelectedReason = "selected";
                                            }
                                            else
                                            {
                                                IsSelectedReason = "";
                                            }
                                            <option value="@reason.ReasonCodeID" @IsSelectedReason>@reason.Description</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="col-6 mt-3 @DisplayNone">
                                <label>Select Resolution</label>
                                <select id="SelecteMissingResolution" name="SelecteMissingResolution" class="form-control">
                                    @{
                                        foreach (DCC.Models.AZSandataResolutionCode reason in Model.resolutionCodes)
                                        {
                                            string IsSelectedResolution = "";
                                            if (reason.ResolutionCodeId == Model.schedule.resolutionCodeId)
                                            {
                                                IsSelectedResolution = "selected";
                                            }
                                            else
                                            {
                                                IsSelectedResolution = "";
                                            }
                                            <option value="@reason.ResolutionCodeId" @IsSelectedResolution>@reason.Description</option>
                                        }
                                    }
                                </select>
                            </div>

                           

                            <div class="form-group row mt-5 col-12 pr-0">
                                <div class="col-12 pr-0">
                                    <label class="alert alert-danger errorMsg d-none"></label>
                                    <button type="button" class="btn btn-secondary closeEditModal" data-dismiss="modal">Close</button>
                                    <div id="BtnEditScheduleSubmit" value="Save Schedule" class="btn btn-primary pull-right">Save Schedule</div>
                                </div>

                            </div>
                        </div>


                </form>
            </div>
        </div>
    </div>
</div>
<script>$('#actionModal').modal('show');</script>



