@model DCC.Models.Staff.StaffData
@if (Model.userLevel != "Provider" && Model.userLevel != "TherapyAssistant" && Model.userLevel != "TherapySupervisor" && Model.userLevel != "RBT" && Model.userLevel != "BCBA")
{
    <div class="hdr"><i class="fa fa-plus-square faBtn" onclick="openAddStaffServiceModal();"></i>Add New Service</div>
}
<table>
    @foreach (var item in Model.staffServices)
    {
        <tr>
            <td>
                @if (Model.userLevel != "Provider" && Model.userLevel != "TherapyAssistant" && Model.userLevel != "TherapySupervisor" && Model.userLevel != "RBT" && Model.userLevel != "BCBA")
                {
                    <i class="fa fa-trash faBtn red" onclick="openDeleteStaffServiceModal(@item.relId,'@item.clientName', '@item.svcLong')"></i>
                }
            </td>
            <td class="name rowLink" onclick="goToClientPage(@item.clsvId)">@item.clientName</td>
            <td style="padding-left:5px; padding-right:5px">@item.svcLong</td>
            <td>@item.relationship</td>
        </tr>
    }
</table>
<script>
$('#service').empty();
$('#service').append(new Option('', '0-0-0'));
@if (Model.allStaffServices != null)
{
        foreach (var option in Model.allStaffServices)
        {
       @:$('#service').append(new Option('@option.name.Replace("'","")', '@option.id'));
        }
}
</script>
