@model DCC.Models.SpecialRate
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5><i class="fa fa-edit"></i> <span>Update Special Rate</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <p>Add special rate<br />For: @Model.fn  @Model.ln<br />Service: @Model.svcName</p>
                <input type="hidden" id="spRateId" value="@Model.spRtId">
                <input type="hidden" id="clientServiceId" value="@Model.clsvidId">
                <div class="form-group">
                    <label for="spRateRatio">Client/Provider Ratio</label>
                    <select id="spRateRatio" class="form-control form-control-sm">
                        <option value="1.0" @(Model.ratio == 1M ? "selected" : "")>Provider:Client 1:1</option>
                        <option value="0.5" @(Model.ratio == 0.5M ? "selected" : "")>Provider:Client 2:1</option>
                    </select>
                    <label for="spRate">Special Rate</label>
                    <input id="spRate" class="form-control form-control-sm" type="text" value="@Model.rate" />

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="spRateBtn" onclick="updateSpecialRate();">Update Special Rate</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#actionModal').modal('show');
</script>
