@model DCC.Models.PlanOfCareData
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create Plan of Care</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="evaluationId" value="@Model.evaluationId" />
                <input type="hidden" id="evaluationServiceId" value="@Model.evaluationServiceId" />
                <div class="form-group">
                    <label for="therapistSelect">Therapist Supervisor</label>
                    <select id="therapistSelect" class="form-control form-control-sm">
                        @foreach (var item in Model.Options)
                        {
                            <option value="@item.value">@item.name</option>
                        }
                    </select>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <b><label for="treatmentStart">Treatment Start</label></b>
                            <div class="input-group date">
                                <input id="treatmentStart" type="date" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <b><label for="treatmentEnd">Treatment End</label></b>
                            <div class="input-group date">
                                <input id="treatmentEnd" type="date" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div><b>Number Of Visits Req.</b></div>
                        <input type="text" id="numberOfVisits" class="form-control form-control-sm" value="52" />
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6">
                        <div><b>Treatment Frequency</b></div>
                        <select id="treatmentFrequencyId" class="form-control form-control-sm">
                            @foreach (var freq in Model.frequencies)
                            {
                                <option value="@freq.value" @freq.name @(freq.value == "2" ? "selected" : "")>@freq.name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div><b>Visit Duration (Minutes)</b></div>
                        <select id="duration" class="form-control form-control-sm">
                            <option value="30">30</option>
                            <option value="60" selected="selected">60</option>
                            <option value="90">90</option>
                            <option value="120">120</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createPlanOfCare();">Create plan of Care</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#actionModal').modal('show');
</script>
